@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --swiper-theme-color: transparent !important;
  }

  html {
    font-family: FigTree;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  /* Custom Border Radius */
  .fancy-border-radius {
    @apply rounded-[30%_70%_70%_30%_/_30%_30%_70%_70%];
  }
  .fancy-border-radius-2 {
    @apply rounded-[59%_41%_46%_54%_/_41%_43%_57%_59%];
  }

  /* Title Underline */
  .skipInk {
    text-decoration-skip-ink: all;
  }

  /* Custom Input Box */
  input {
    @apply text-[white] text-base font-thin tracking-[0.009375em] self-end box-border w-full transition-opacity ease-in-out dark:bg-custom-black bg-white h-16 mt-6 pt-[35px] pb-10 px-4 rounded-[4px_4px_0_0] border-b-[3px] border-b-[#008e97] border-[none] border-solid shadow-xl;
  }
  input:focus {
    @apply border border-solid border-[#008e97];
  }
  input::placeholder {
    @apply font-extralight text-base pt-4;
  }

  /* Custom SuperScript */
  .custom-superscript {
    @apply text-[0.5em] leading-[0.3em] align-baseline relative top-[-0.50em];
  }

  /* Custom Zoom */
  .custom-zoom {
    @apply transition-transform duration-100;
  }
  .custom-zoom:hover {
    @apply scale-105;
  }

  /* Custom Neumorphic classes*/
  .custom-neumorphic-tech {
    @apply shadow-[inset_0.3px_0.3px_1px_#191a21,inset_-0.3px_-0.3px_1px_#191a21] rounded-[15%] bg-gradient-to-tl from-[#1f2029] to-[#131419];
  }
  .custom-neumorphic-table {
    @apply shadow-[inset_6px_6px_12px_#9d9191,inset_-6px_-6px_12px_#f5e3e3] rounded-2xl bg-[#008e97];
    background: hsl(0%, 100%, 50);
  }
  .custom-neumorphic-publications {
    @apply shadow-[inset_6px_6px_12px_#9d9191,inset_-6px_-6px_12px_#f5e3e3] rounded-2xl bg-[#c9baba];
  }
  .custom-neumorphic-nav {
    @apply shadow-[5px_5px_0px_#0c0c10,-5px_-5px_0px_#262832] rounded-[64px] bg-custom-black;
  }
  .custom-neumorphic-process {
    background: linear-gradient(145deg, #17171e, #1b1c23);
    box-shadow:
      6px 6px 12px #0a0b0e,
      -6px -6px 12px #282934;
  }
  .custom-neumorphic-skills {
    border-radius: 50%;
    background: linear-gradient(145deg, #17171e, #1b1c23);
    box-shadow:
      5px 5px 10px #131419,
      -5px -5px 10px #1f2129;
  }
  .custom-neumorphic-projects {
    border-radius: 10px;
    background: linear-gradient(145deg, #17171e, #1b1c23);
    box-shadow:
      5px 5px 10px #131419,
      -5px -5px 10px #1f2129;
  }
  .custom-neumorphic-teal {
    background: linear-gradient(145deg, #008088, #0098a2);
    box-shadow:
      5px 5px 10px #006b71,
      -5px -5px 10px #00b2bd;
  }

  .custom-neumorphic-teal-pressed {
    box-shadow:
      inset 5px 5px 10px #004e53,
      inset -5px -5px 10px #00cedb;
  }

  .custom-neumorphic-teal-no-blur {
    border-radius: 93px;
    background: #008e97;
    box-shadow:
      5px 5px 0px #00747c,
      -5px -5px 0px #00a8b2;
  }

  .custom-neumorphic-strengths {
    border-radius: 24px;
    background: linear-gradient(145deg, #1b1c23, #17171e);
    box-shadow:
      5px 5px 10px #0c0c10,
      -5px -5px 10px #262832;
  }

  .custom-neumorphic-white {
    background: #ffffff;
    -webkit-box-shadow:
      6px 6px 14px #dbdbdb,
      -6px -6px 14px #ffffff;
    box-shadow:
      6px 6px 14px #dbdbdb,
      -6px -6px 14px #ffffff;
  }

  .custom-neumorphic-black-pressed {
    background: #191a21;
    box-shadow:
      inset 5px 5px 10px #0d0e11,
      inset -5px -5px 10px #252631;
  }

  .custom-neumorphic-white-pressed {
    background: #ffffff;
    box-shadow:
      inset 5px 5px 10px #e3e3e3,
      inset -5px -5px 10px #ffffff;
  }

  /* Custom Card Tilt */
  .custom-card-tilt {
    @apply -mt-10;
    transform: rotateZ(25deg);
  }
  .custom-card-tilt2 {
    @apply mt-[210px];
    transform: rotateZ(35deg);
  }

  /* Custom Red Box Shadow */
  .custom-red-box-shadow {
    @apply shadow-[10px_10px_0px_-7px_rgba(255,0,0,0.88)];
  }

  /* Custom Box Shadow */
  .custom-text-shadow {
    @apply shadow-[0_0_0.8px_#008e97,0_0_1.6px_#008e97,0_0_4px_#008e97,0_0_4.8px_#008e97] p-1 pr-2  ml-2;
  }

  /* Custom Animated Active Link on Hover */
  .highlights {
    --s: 0.2em; /* the thickness of the line */
    --c: #008e97; /* the color */
    color: white;
    padding-bottom: var(--s);
    background:
      linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%)) /
        200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
  }
  .highlights:hover {
    --_p: 100%;
  }
}

@layer components {
  /* Navbar */
  .logoName {
    @apply text-white dark:text-custom-red self-center text-xs sm:text-sm font-medium tracking-wide dark:font-medium lg:text-lg;
  }

  .logo {
    @apply dark:bg-custom-red bg-white mx-3 h-8 p-1 dark:text-white text-custom-red md:ml-2;
  }

  .navDesktop {
    @apply dark:custom-neumorphic-strengths my-6 flex w-full items-center justify-between rounded-3xl custom-neumorphic-teal px-4 py-2 md:px-6;
  }

  .resumeButtonDesktop {
    @apply text-white hover:text-white flex cursor-pointer items-center justify-center rounded-xl px-5 py-3 text-[15px] font-light leading-[4px] dark:font-medium custom-neumorphic-teal-pressed dark:hover:text-custom-red dark:hover:bg-custom-black dark:hover:custom-neumorphic-projects bg-custom-red;
  }

  .buttonMobile {
    @apply text-white block items-center rounded-xl py-1 text-sm dark:text-white lg:hidden;
  }

  .resumeButtonMobile {
    @apply flex cursor-pointer justify-center px-3 py-2 pb-4 text-[17px] font-medium hover:underline dark:border-white text-white dark:text-custom-red;
  }

  /* Footer */
  .footerSocialDiv {
    @apply flex items-center justify-center space-x-6 sm:order-2 sm:justify-end;
  }

  .footerSocial {
    @apply text-white inline-flex rounded transition-all duration-200 focus:outline-none dark:text-white;
  }

  .footerText {
    @apply text-white mt-6 text-center font-sans text-sm font-normal text-opacity-50 dark:text-white sm:order-1 sm:mt-0 sm:text-left;
  }

  /* About Card */
  .summary {
    @apply dark:custom-neumorphic-process -ml-1 mb-4 flex flex-col items-center justify-center gap-2 rounded-2xl bg-white p-4 text-center shadow-xl;
  }

  /* Back to Top */
  .backToTopButton {
    @apply bg-custom-black dark:bg-custom-red fixed bottom-4 right-4 rounded-md px-4 py-2 text-white transition-opacity;
  }

  /* Contact Block */
  .contactBlockContainer {
    @apply custom-neumorphic-teal-pressed dark:custom-neumorphic-black-pressed border-custom-red mx-8 lg:mx-24 flex flex-col items-center justify-between gap-6 rounded-xl p-8 lg:mb-0 lg:flex-row;
  }

  .contactBlockTitle {
    @apply dark:text-custom-red text-white pb-1 text-2xl font-normal md:text-3xl lg:text-4xl;
  }

  .contactBlockButton {
    @apply custom-neumorphic-teal hover:custom-neumorphic-teal-pressed dark:custom-neumorphic-process hover:dark:custom-neumorphic-black-pressed text-base w-full min-w-[200px] cursor-pointer flex-col flex-wrap items-center justify-center rounded-md px-6 py-5 font-normal leading-5 shadow-2xl transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2 text-white dark:text-custom-red md:flex md:text-lg;
  }

  /* Hero */

  .heroGrid {
    @apply ml-2 grid grid-cols-1 place-items-center items-center lg:ml-12 lg:grid-cols-2;
  }

  .jobTitle {
    @apply text-white dark:text-custom-red mt-6 text-xl font-medium text-opacity-90 dark:font-normal md:text-2xl lg:-mt-16;
  }

  .heroAbout {
    @apply text-sm text-white mx-auto mt-3 max-w-2xl font-light leading-relaxed  dark:font-extralight dark:text-white md:mt-8;
  }

  .heroResumeButton {
    @apply custom-neumorphic-teal dark:custom-neumorphic-teal hover:custom-neumorphic-teal-pressed dark:hover:custom-neumorphic-teal-pressed text-sm flex cursor-pointer items-center justify-center rounded-lg px-6 py-[15px] font-medium leading-5 text-white dark:text-white transition-all duration-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2  dark:border-custom-red lg:w-auto bg-black;
  }

  .heroEmail {
    @apply flex-1 text-custom-red text-sm ml-0 flex w-full cursor-pointer items-center justify-center md:rounded-r-xl dark:rounded-none dark:md:rounded-xl bg-white custom-neumorphic-white-pressed px-6 pl-10 font-medium leading-5 transition-all duration-200 dark:border-white dark:custom-neumorphic-black-pressed lg:w-auto rounded-xl mt-3 md:mt-0 dark:md:mt-0 dark:mt-1;
  }

  /* Testimonials - Swiper.js */

  .mySwiper {
    @apply mx-16 !important;
  }
  .mySwiper .swiper-slide {
    @apply shadow-2xl bg-custom-red rounded-xl bg-center bg-cover w-[400px] md:w-[500px] lg:w-[400px] h-[500px] flex flex-col justify-center mb-4 !important;
  }
  .mySwiper .swiper-pagination-bullet {
    @apply bg-gray-400 h-3 w-3 !important;
  }
  .mySwiper .swiper-pagination-bullets {
    @apply md:-bottom-[0px]  !important;
  }
  .mySwiper .swiper-pagination-bullet-active {
    @apply dark:bg-custom-red bg-white !important;
  }
  .mySwiper .swiper-wrapper {
    @apply h-full py-10 !important;
  }
}

/* Contact Block */
.contact-block {
  background: url("/assets/geometryBlock.png") no-repeat center;
  width: 100%;
  border-radius: 20px !important;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

details[open] summary ~ * {
  animation: open 0.5s ease-in-out;
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

.animate-bounce-slow {
  animation-name: bounce-slow;
  animation-duration: 1s; /* Adjust the duration as needed */
  animation-iteration-count: infinite;
}
